<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="CountryCS" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\User\Desktop\Test (CRM GURU)\Test_application\Test_application\Information_on_contries.mdf;Integrated Security=True;Connect Timeout=30"/>
  </connectionStrings>
</configuration>